.feed_timeline__item {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: #f0f0f0;
    border: 1px solid #e0e0e0;
    white-space: nowrap;
    overflow: hidden;
}

.feed_timeline__item_featured_badge {
    position: absolute;
    right: 0;
    top: 0;
    background: #5fd5f3;
    color: #fff;
    z-index: 999;
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
    padding-left: 30px;
    border-bottom-left-radius: 30px;
}

.feed_timeline__item_image {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 70px;
    margin-right: 10px;
}

.feed_timeline__item_timeline {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}

.feed_timeline__item_title {
    display: block;
    font-size: 18px;
    margin: 0;
}

.feed_timeline__item_author {
    display: inline-block;
    font-size: 14px;
    margin-right: 10px;
}
.feed_timeline__item_date {
    font-size: 12px;
    color: #aaa;
}
